<section class="container contenidos animated bounceIn">
	<div class="row">
		<div class="col-md-6">
				<img src="assets/img/servicio-01.jpg">
			
				<!-- 
				<div class="caja slider">
					<ul class="bxslider">
						<li><img src="img/servicio-01.jpg"></li>
						<li><img src="img/servicio-02.jpg"></li>
						<li><img src="img/servicio-03.jpg"></li>
					</ul>
				</div>
				-->
		</div>


		<div class="col-md-6">

				<h2>Servicio de Mantenimiento</h2> 
			
				<p>El servicio preventivo y correctivo es muy importante, ya que le ahorra tiempo y dinero al momento. Además contamos con personal especializado, para apoyarlo en la instalación de cualquier equipo y/o refacción si así lo desean.
				</p>
				
			</div>

			<br><br><br>
	</div>
</section>