<section class="container contenidos animated bounceIn">
	<div class="row galeria">

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Anaqueles" href="assets/img/productos/anaqueles-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/anaqueles-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Anaqueles</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Anaqueles" href="assets/img/productos/anaqueles-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/anaqueles-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Anaqueles</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Asador" href="assets/img/productos/asador-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/asador-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Asador</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Barandales" href="assets/img/productos/barandales-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/barandales-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Barandales</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Barras de Servicio" href="assets/img/productos/barras-de-servicio-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/barras-de-servicio-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Barras de Servicio</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Barras de Servicio" href="assets/img/productos/barras-de-servicio-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/barras-de-servicio-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Barras de Servicio</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Barras de Servicio" href="assets/img/productos/barras-de-servicio-03.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/barras-de-servicio-03.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Barras de Servicio</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Barras de Servicio" href="assets/img/productos/barras-de-servicio-04.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/barras-de-servicio-04.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Barras de Servicio</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Campanas" href="assets/img/productos/campanas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/campanas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Campanas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Estufas" href="assets/img/productos/estufas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/estufas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Estufas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Estufas" href="assets/img/productos/estufas-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/estufas-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Estufas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Estufas" href="assets/img/productos/estufas-03.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/estufas-03.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Estufas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Estufones" href="assets/img/productos/estufones-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/estufones-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Estufones</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Estufones" href="assets/img/productos/estufones-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/estufones-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Estufones</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Fregaderos" href="assets/img/productos/fregaderos-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/fregaderos-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Fregaderos</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Fregaderos" href="assets/img/productos/fregaderos-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/fregaderos-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Fregaderos</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Freidoras" href="assets/img/productos/freidoras-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/freidoras-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Freidoras</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Freidoras" href="assets/img/productos/freidoras-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/freidoras-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Freidoras</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Gabinetes" href="assets/img/productos/gabinetes-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/gabinetes-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Gabinetes</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Mamparas" href="assets/img/productos/mamparas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/mamparas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Mamparas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Mamparas" href="assets/img/productos/mamparas-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/mamparas-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Mamparas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Mesas" href="assets/img/productos/mesas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/mesas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Mesas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Parrillas" href="assets/img/productos/parrillas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/parrillas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Parrillas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Parrillas" href="assets/img/productos/parrillas-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/parrillas-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Parrillas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Parillas" href="assets/img/productos/parrillas-03.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/parrillas-03.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Parrillas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Planchas" href="assets/img/productos/planchas-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/planchas-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Planchas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Planchas" href="assets/img/productos/planchas-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/planchas-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Plancas</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Sistemas de Extracción" href="assets/img/productos/sistemas-de-extraccion-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/sistemas-de-extraccion-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Sistemas de Extracción</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Sistemas de Extracción" href="assets/img/productos/sistemas-de-extraccion-02.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/sistemas-de-extraccion-02.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Sistemas de Extracción</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<a title="Unidad Coctelera" href="assets/img/productos/unidad-coctelera-01.jpg" rel="shadowbox['productos']"><img src="assets/img/productos/th/unidad-coctelera-01.jpg" alt=""></a>
				
				<div class="caption">
					<h3>Unidad Coctelera</h3>
				</div>
			</div>
		</div>

		<br><br><br>

	</div>
</section>