<section class="container contenidos animated bounceIn">
	<div class="row">
		<div class="col-md-6">
			<img src="assets/img/nosotros-01.jpg">
			<!-- <div class="slider">
				<ul class="bxslider">
			        <li><img src="assets/img/nosotros-01.jpg"></li>
			        <li><img src="assets/img/nosotros-02.jpg"></li>
			        <li><img src="assets/img/nosotros-03.jpg"></li>
				</ul>
			</div> -->
		</div>


		<div class="col-md-6">

				<h2>Nuestro servicio</h2> 
				
				<ul>
					<li>Proyectos de cocinas Industriales</li>
					<li>Comedores Institucionales.</li>
					<li>Equipamiento en para la industrial Hotelera y Restaurantera.</li>
					<li>Fabricación de mobiliario en Acero Inoxidable.</li>
					<li>Diseño residencial.</li>
					<li>Equipos para Laboratorios.</li>
				</ul>

				<p>Diseño Arquitectónico</p>
				
				<br><br><br>
			</div>
	</div>
</section>