<div class="container-fluid index animated bounceIn">
  <div class="container portada">
      <img src="assets/img/acero-inoxidable-logotipo.png" alt="" class="portada__logotipo">

      <h1 class="portada__titulo">Muebles de Acero Inoxidable</h1>

      <p>Empresa mexicana dedicada al diseño y la fabricación de muebles y equipamiento para cocinas industriales dirigida al sector gastronómico</p>
  </div>
</div>



<div class="container">

    <div class="row">
        <div class="col-md-6">
          
            <h2>Bienvenidos a FerInoxidable</h2>

            <p>Somos una empresa mexicana dedicada al diseño y la fabricación de muebles y equipamiento para cocinas industriales dirigida al sector gastronómico.</p>
        
            <p>Diseñamos, fabricamos, equipamos, damos servicio de mantenimiento para; Comedores Industriales, Restaurantes, Hoteles, Hospitales, Cafeterías, Panaderías, etc.</p>
        
            <p>Creamos, inventamos, diseñamos, e innovamos para nuestros clientes.</p>
        
            <p>Nos encargamos de materializar las necesidades de cada cliente, respondiendo a los requerimientos de cada sitio destinado a su negocio.</p>

            <br><br><br>
        </div>
    </div>

</div><!-- /container -->